<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/aboutUs.css" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <title>MPT | About Us</title>
  </head>
  <body>
    <%- include ('nav.ejs') -%>
    <div class="about-us-body">
      <h1 class="about-us-main-title">About Us</h1>
      <div class="how-it-started-container">
        <h1 class="how-it-started-title">
          <span class="gray">H</span>ow it started
        </h1>
        <p class="how-it-started-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
          debitis veritatis distinctio ut labore in numquam quaerat, et quae
          dolores. Nemo tempore eum, vero beatae qui amet esse expedita
          doloribus iusto facere accusantium nobis sequi suscipit vel
          dignissimos magni natus. Hic, maxime. Est provident fuga molestiae
          ipsam facilis voluptatem commodi! Modi, commodi unde eius ipsum omnis
          ipsa, non velit sapiente, eveniet nisi dignissimos explicabo voluptas
          molestias autem dicta. Minima perspiciatis delectus nulla at id ex
          inventore, laudantium provident neque eius maiores fuga quidem
          consectetur facilis soluta aut qui quod? Facilis possimus incidunt eum
          sit optio iusto labore? Rerum vitae officiis quasi inventore, amet
          beatae recusandae molestias omnis animi qui iusto dignissimos
          architecto optio commodi doloribus adipisci quibusdam temporibus
          tenetur. Ut vitae hic voluptas placeat nam sequi esse fugiat veniam
          mollitia deleniti! Explicabo tempore minus sed vero maxime quae
          laboriosam odio at dolorem. Qui nam ullam suscipit libero a eum facere
          voluptatem quidem assumenda sit modi voluptatibus, minus excepturi
          totam molestiae laborum repellendus veritatis aliquid expedita nulla
          itaque! Impedit repellat, blanditiis nostrum ducimus facere tenetur a
          sequi reiciendis incidunt illo cum maiores soluta dolorem magni
          pariatur! Numquam, maiores nulla eveniet asperiores laborum, incidunt
          consequuntur dicta ipsa iusto deserunt necessitatibus dolorem cum?
        </p>
      </div>
      <div class="how-it-is-going-container">
        <h1 class="how-it-is-going-title">
          <span class="gray">H</span>ow it is going
        </h1>
        <p class="how-it-is-going-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
          debitis veritatis distinctio ut labore in numquam quaerat, et quae
          dolores. Nemo tempore eum, vero beatae qui amet esse expedita
          doloribus iusto facere accusantium nobis sequi suscipit vel
          dignissimos magni natus. Hic, maxime. Est provident fuga molestiae
          ipsam facilis voluptatem commodi! Modi, commodi unde eius ipsum omnis
          ipsa, non velit sapiente, eveniet nisi dignissimos explicabo voluptas
          molestias autem dicta. Minima perspiciatis delectus nulla at id ex
          inventore, laudantium provident neque eius maiores fuga quidem
          consectetur facilis soluta aut qui quod? Facilis possimus incidunt eum
          sit optio iusto labore? Rerum vitae officiis quasi inventore, amet
          beatae recusandae molestias omnis animi qui iusto dignissimos
          architecto optio commodi doloribus adipisci quibusdam temporibus
          tenetur. Ut vitae hic voluptas placeat nam sequi esse fugiat veniam
          mollitia deleniti! Explicabo tempore minus sed vero maxime quae
          laboriosam odio at dolorem. Qui nam ullam suscipit libero a eum facere
          voluptatem quidem assumenda sit modi voluptatibus, minus excepturi
          totam molestiae laborum repellendus veritatis aliquid expedita nulla
          itaque! Impedit repellat, blanditiis nostrum ducimus facere tenetur a
          sequi reiciendis incidunt illo cum maiores soluta dolorem magni
          pariatur! Numquam, maiores nulla eveniet asperiores laborum, incidunt
          consequuntur dicta ipsa iusto deserunt necessitatibus dolorem cum?
        </p>
      </div>
      <div class="where-it-is-going-container">
        <h1 class="where-it-is-going-title">
          <span class="gray">W</span>here it is going
        </h1>
        <p class="where-it-is-going-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
          debitis veritatis distinctio ut labore in numquam quaerat, et quae
          dolores. Nemo tempore eum, vero beatae qui amet esse expedita
          doloribus iusto facere accusantium nobis sequi suscipit vel
          dignissimos magni natus. Hic, maxime. Est provident fuga molestiae
          ipsam facilis voluptatem commodi! Modi, commodi unde eius ipsum omnis
          ipsa, non velit sapiente, eveniet nisi dignissimos explicabo voluptas
          molestias autem dicta. Minima perspiciatis delectus nulla at id ex
          inventore, laudantium provident neque eius maiores fuga quidem
          consectetur facilis soluta aut qui quod? Facilis possimus incidunt eum
          sit optio iusto labore? Rerum vitae officiis quasi inventore, amet
          beatae recusandae molestias omnis animi qui iusto dignissimos
          architecto optio commodi doloribus adipisci quibusdam temporibus
          tenetur. Ut vitae hic voluptas placeat nam sequi esse fugiat veniam
          mollitia deleniti! Explicabo tempore minus sed vero maxime quae
          laboriosam odio at dolorem. Qui nam ullam suscipit libero a eum facere
          voluptatem quidem assumenda sit modi voluptatibus, minus excepturi
          totam molestiae laborum repellendus veritatis aliquid expedita nulla
          itaque! Impedit repellat, blanditiis nostrum ducimus facere tenetur a
          sequi reiciendis incidunt illo cum maiores soluta dolorem magni
          pariatur! Numquam, maiores nulla eveniet asperiores laborum, incidunt
          consequuntur dicta ipsa iusto deserunt necessitatibus dolorem cum?
        </p>
      </div>
    </div>
  </body>
</html>
