<link href="/css/events.css" rel="stylesheet" type="text/css" />
<div class="events-card-component-body">
  <div class="events-card-component-body-pfp-container">
    <img
      class="events-card-component-body-pfp"
      src="./img/hannesE.jpeg"
      alt="Hannes E pfp"
      height="150px"
    />
  </div>
  <h1 class="events-card-component-body-name">Name</h1>
  <h1 class="events-card-component-body-role">Status</h1>
</div>
