<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MPT | Home</title>
    <link rel="icon" href="./img/lol.png?v=1" type="image/png" />
    <meta
      name="description"
      content="The official website for the Northern Beaches Christian School's Media and Production Team "
    />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include ('nav.ejs') -%>
    <div class="landingPageTop">
      <div class="title">
        <h1 class="mpt">MPT</h1>
        <h3 class="subtitle">
          <br />
          Northen Beaches Christian School's <span class="gray">M</span>edia and
          <span class="gray">P</span>roduction <span class="gray">T</span>eam.
        </h3>
        <h3 class="explore-button">
          <a href="./contact.ejs">Explore</a>
        </h3>
      </div>
    </div>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
