<link href="/css/team.css" rel="stylesheet" type="text/css" />
<div class="team-profile-component-body">
  <div class="team-profile-component-body-pfp-container">
    <img
      class="team-profile-component-body-pfp"
      src="./img/hannesE.jpeg"
      alt="Hannes E pfp"
      height="150px"
    />
  </div>
  <h1 class="team-profile-component-body-name">Name</h1>
  <h1 class="team-profile-component-body-role">Role</h1>
</div>
