<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
    <link href="/css/team.css" rel="stylesheet" type="text/css" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <title>MPT | Team</title>
  </head>
  <body>
    <%- include ('nav.ejs') -%>
    <div class="team-body">
      <div class="team-large-title">
        <h1>OUR TEAM</h1>
      </div>
      <div class="leadership-title-container">
        <h1 class="leadership-title">Leadership</h1>
      </div>
      <div class="profiles-body">
        <div class="team-profile-1"><%- include ('team-profile.ejs') -%></div>
        <div class="team-profile-2"><%- include ('team-profile.ejs') -%></div>
        <div class="team-profile-3"><%- include ('team-profile.ejs') -%></div>
      </div>
    </div>
  </body>
</html>
